.background {
  left: 0px;
  top: 0px;
  z-index: -1;
  overflow: hidden;
  position: fixed;
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 12;
  -moz-column-count:    12;
  column-count:         12;
  -moz-column-gap:      0px;
  -webkit-column-gap:   0px;
  column-gap:           0px;
  min-width: inherit;
}
@media (max-width: 2400px) {
  .background {
  -moz-column-count:    9;
  -webkit-column-count: 9;
  column-count:         9;
  }
}
@media (max-width: 2000px) {
  .background {
  -moz-column-count:    8;
  -webkit-column-count: 8;
  column-count:         8;
  }
}
@media (max-width: 2000px) {
  .background {
  -moz-column-count:    7;
  -webkit-column-count: 7;
  column-count:         7;
  }
}
@media (max-width: 1600px) {
  .background {
  -moz-column-count:    6;
  -webkit-column-count: 6;
  column-count:         6;
  }
}
@media (max-width: 1200px) {
  .background {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
}
@media (max-width: 800px) {
  .background {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 400px) {
  .background {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
  body {
    padding: 5px;
  }
}

.gradient {
  background: -webkit-linear-gradient(top, black, black, white);
  background: -moz-linear-gradient(top, black, black, white);
  background: -o-linear-gradient(top, black, black, white);
  background: -ms-linear-gradient(top, black, black, white);
  background: linear-gradient(to bottom, black, white);
}

.background img {
  width: 100% !important;
  height: auto !important;
}