body {
  min-width: 300px;
  padding: 30px;
  background-color: #ffc0cb;
}

ul {
  list-style: none;
  padding-left: 0;
}

.content, section {
  /*padding: 1em;*/
}

/* typography */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #fff;
}

.title {
  /*letter-spacing: 0.1em;*/
  font-size: 3em;
}

@media (max-width: 800px) {
  .title {
    font-size: 2em;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 1.4em;
  }
}

/* end typography */

.content {
  width: 100%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}




/* image filters */
.filter img {
  opacity:0.1;
  filter: sepia(1);
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.filter img:hover {
  opacity:1;
  filter: sepia(0);
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
}

/* buttons */
.links {
  width: 200px;
  margin-right: auto;
}

.hidden {
  display: none;
}

.links a {
  color: inherit;
}

.links a:hover {
  color: black;
}

.links a div {
  width: 24px;
  height: 24px;
  line-height: 50px;
  float:left;
  margin-right:6px;
}

.btn-twitter {
  background: url('img/button-twitter.png') no-repeat;
}

.btn-github {
  background: url('img/button-github.png') no-repeat;
}

.btn-linkedin {
  background: url('img/button-linkedin.png') no-repeat;
}
